@model FashionShop.ViewModels.CartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container pr-detail" style=" border-bottom: solid; margin-bottom: 50px;">
    <img src="/Content/img/img1.jpg" width="1170" height="600" />
</div>

<div class="container" id="shopping-cart">
    <div class="row no-gutters">
        <div class="col-md-8 col-sm-8 col-xs-12 border-right">
            <div class="text-center">
                <p class="cart-title" style="font-weight: bold; margin-bottom: 20px;">YOUR SHOPPING CART</p>
            </div>
            <table class="table table-responsive order-detail">
                <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">Unit Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Remove</th>
                </tr>
                </thead>
                <tbody class="text-center">
                @foreach (var item in Model.CartItems) { 
                <tr>
                        <td><img src="@item.ImageSrc" alt="" class="product-thumbnail"></td>
                        <td> <p>@item.ProductName</p></td>
                        <td> <p > @item.Color</p></td>
                        <td class="unit-price"> <p>@item.Price   </p></td>
                        <td> @item.Quantity</td>
                        <td > <p>@item.Money </p></td>
                        <td> <p><i class="fa fa-remove btn-sm"></i> </p></td>
                        
         
                   
                </tr>
                }
                </tbody>
            </table>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" id="cart-summary-container">
            <table class="table table-responsive" id="cart-summary">
                <thead>
                <tr>
                    <th class="text-center" colspan="2">SUMMARY</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Total quantity</td>
                    <td class="text-right"> @Model.CartTotal.TotalQuantity</td>
                </tr>
                <tr>
                    <td>Total money</td>
                    <td class="text-right">@Model.CartTotal.TotalMoney </td>
                </tr>
                </tbody>
            </table>
          
            <div class="button-group">
                <div>
                    <div style="border: 0px solid #dddddd  ; display: inline-block; background: #dddddd;padding-bottom: 7px;padding-top: 7px;color: black">
                        <a href= @Url.Action("Index", "Products", new { producttype = "Men" })>CONTINUE SHOPPING</a>
                       
@*                        @Html.ActionLink("Continue shopping", "Index", "Products", new { producttype = "Men" }, null)*@
                    </div>
                   
                    <div style="border: 0px solid #dddddd  ; display: inline-block; background: #dddddd;padding-bottom: 7px;padding-top: 7px;color: black">
                        <a href= @Url.Action("Index", "Checkout")>CHECKOUT</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
        $(function(){
            $("#cart-checkout").click(function() {
                toastr["success"]("Added successfully!", "Succseffully");
            });
         });
</script>

