@model FashionShop.ViewModels.ProductDetailViewModel

@{

    var addToCartUrl = Url.Action("AddToCart", "Cart");
}
<div class="container pr-detail" style=" border-bottom: solid;">
    <img src="/Content/img/img1.jpg" width="1170" height="600" />
</div>



<div class=" b-body container">

    @if (Model != null)
    {

        <div class="row">

            <div class="b-content">

                <!--Block Product image -->
                <div id="product-preview" class="col-md-7 col-sm-7 col-xs-12">
                    <div class="pd-preview">
                        <img class="xzoom" src=@Model.ImageSrc xoriginal="img/anh1.jpg" />

                    </div>


                </div>
                <!-- Block product detail and price -->
                <div id="product-information" class="col-md-5 col-sm-5 col-xs-12">
                    <h4>@Model.Name</h4>
                   @*// <p id="prd-id">Code: @Model.Code </p>*@
                    <p id="product-detail-variant-code" variant-code="@(Model.DefaultVariant != null ? Model.DefaultVariant.VariantCode : string.Empty)">Variant Code: @(Model.DefaultVariant != null ? Model.DefaultVariant.VariantCode : string.Empty) </p>
                    <p id="pr-price">Giá :@Model.Price VND</p>


                    @if (Model.AvailableColors.Count > 0)
                    {
                        <ul class="prd-color">
                            @foreach (var color in Model.AvailableColors)
                            {
                                <li>
                                    <span class="cl-name">Color : @color</span>
                                </li>
                            }

                        </ul>
                    }

                    <ul class="prd-size">
                        <li>
                            <span class="size-naming">Size :</span>
                        </li>
                        <li>
                            <select name="sizelist " id="pr-size">
                                @{
                                    foreach (var size in Model.AvailableSizes)
                                    {
                                        <option value="@if (Model.DefaultVariant != null)
                                                       {
                                                           @Model.DefaultVariant.SizeId
                                                       }">
                                            @size
                                        </option>
                                    }
                                }
                            </select>

                            @*<select name="sizelist">
                                    <option value="small">Small </option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                </select>*@
                        </li>
                    </ul>

                    <p class="prd-value">
                        <span>Quantity : </span>
                        <input type="text" value="1" id="product-detail-quantity" size="1" />
                    </p>
                    <button><a href="javascript:void(0)" id="add-to-cart"> Add Cart</a></button>
                    <div style="width: 300px">

                    </div>


                   
                        <p> @Model.Content </p>

               


                    <!-- -->


                </div>
            </div>
        </div>

                                    }
                                    else
                                    {
                                        <div>
                                            Cannot found the product.
                                        </div>
                                    }

</div>
<script>
    $(function() {
        $("#add-to-cart").click(function() {

            var variation = { variantCode: $("#product-detail-variant-code").attr("variant-code"), quantity: $("#product-detail-quantity").val() };
            //var variation = { variantCode: "aaaaa", quantity: $("#product-detail-quantity").val() };

            $.ajax({
                url: "@addToCartUrl",
                type: "POST",
                data: JSON.stringify(variation),
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    $("#global-cart-total-count").text("Cart " + (response.TotalQuantity)+ "-"+ response.TotalMoney),
                        toastr["success"]("Successfully added product!", "Add to cart");
                },
                failure: function(response) {
                    toastr["Error"]("Fail added product!", "Add to cart");
                },
                error: function(response) {
                    toastr["Error"]("Fail added product!", "Add to cart");
                }
            });
        });
    });

</script> 