@model FashionShop.ViewModels.ProductItem

<div class="item-product">

    <div class="pr-img">
                    
        <a href=""> <img src="@Model.ImageSrc" class="img-responsive" /></a>
        <div class=" pr-d"><a href="@Model.DetailLink">Details</a></div>
    </div>

    <div class="pr-detail">
        <p class="pr-title"><a href="@Model.DetailLink">@Model.Name</a>
        <p class="pr-price"> @Model.Price đ</p>
        
        </p>
    </div>             
</div>
